<p class="message">{{ message }}</p>

<input
  type="text"
  class="username"
  ngModel
  (ngModelChange)="username = $event"
/>

<input type="password" class="password" [(ngModel)]="password" />

<input type="button" value="Login" class="login" (click)="login()" />


<a href="/register">Register</a>