<ng-template [ngIf]="placki = true">
  <ng-container appMojaDyrektywa>
    placki
  </ng-container>
</ng-template>

<ng-container *ngIf="placki=true" appMojaDyrektywa>
  placki
</ng-container>


@ContentChild(znajdzMnieDirective,{
  read: TemplateRef
})

<ng-container *znajdzMnie appMojaDyrektywa>
  placki
</ng-container>
