<h2>Register</h2>

<div class="form-group">
  <label for="register_username">Username:</label>
  <input id="register_username" type="text" class="username form-control" [(ngModel)]="username" />
</div>

<div class="form-group">
  <label>Password:</label>
  <input type="text" class="password form-control" [(ngModel)]="password" />
</div>

<input type="button" value="Register" class="register btn btn-sucess" (click)="register()"/>
