<div class="row">

  <div class="col">
    <app-posts-list [posts]="posts" (selectedChange)="select($event)"></app-posts-list>
  </div>
  

  <div class="col">
    <app-post-details [post]="selected"></app-post-details>
  </div>

</div>
