<p>browse-users works!</p>

<div class="row">
  <div class="col">
    <app-users-list [users]="[1, 2, 3]" (userSelected)="selectUser($event)">
    </app-users-list>
  </div>
  <div class="col">
    <app-user-details> </app-user-details>
  </div>
</div>
